/* stylelint-disable indentation */
/* stylelint-disable scss/dollar-variable-colon-space-after */

@use "sass:color";
@use "sass:map";

/** basic colors, no branding
  * ------------------------------------------------------------------------ */
  $color-black:                        hsl(205deg 100% 2%) !default;
  $color-white:                        hsl(0deg 0% 99%) !default;
  $color-danger:                       hsl(0deg 71% 51%) !default;
  $color-success:                      hsl(150deg 100% 33%) !default;

/** web greyscale
  * ------------------------------------------------------------------------ */
  $color-gray-darker:                  hsl(0deg 0% 26%) !default;
  $color-gray-dark:                    hsl(0deg 0% 44%) !default;
  $color-gray:                         hsl(0deg 0% 58%) !default;
  $color-gray-light:                   hsl(0deg 0% 85%) !default;
  $color-gray-lighter:                 hsl(0deg 0% 95%) !default;

/** background
  * ------------------------------------------------------------------------ */
  $color-background-primary:           hsl(48deg 26% 96%) !default;
  $color-background-secondary:         hsl(48deg 26% 93%) !default;

/** font
  * ------------------------------------------------------------------------ */
  $color-font-base:                      #404040 !default;
  $color-font-heading: color.scale($color-font-base, $lightness: -20%) !default;

  /** link
  * ------------------------------------------------------------------------ */
  $color-link:                               #465e72 !default;
  $color-link-hover: color.scale($color-link, $lightness: -20%) !default;

/** brande themeing
  * ------------------------------------------------------------------------ */
  $brand-primary:                              #2f405f !default;
  $brand-secondary:                            #702b27 !default;
  $brand-logo-primary:                          $brand-primary !default;
  $brand-accent-color:                         #b97610 !default;
  $brand-accent-alternate-color:               #565d67 !default;
  $brand-nav-background-color:                 #2e2e2e !default;
  $brand-nav-link-color:                        $brand-primary !default;
  $brand-nav-link-hover-color: color.scale($brand-nav-link-color, $lightness: -15%) !default;
  $brand-footer-color:                        #bebebe !default;
  $brand-footer-background-color:             #2e2e2e !default;
  $brand-footer-background-color:               $brand-primary !default;
  $brand-footer-link-color:                   #e4e4e4 !default;
  $brand-footer-link-hover-color: color.scale($brand-footer-link-color, $lightness: -15%) !default;

/** button
  * ------------------------------------------------------------------------ */
  $btn-background: $grey-lighter !default;
  $btn-background-hover: color.adjust($btn-background, $darkness 10%) !default;
  $btn-color: $font-color-base !default;
  $btn-border-color: color.adjust($btn-background, $darkness 50%) !default;

  // buttoon muted
  $btn-muted-accent: $grey-light !default;
  $btn-muted-border: 1px solid $grey-light !default;
  $btn-muted-border-hover: 1px solid color.adjust($btn-muted-accent, $darkness 30%) !default;
  $btn-muted-background: transparent !default;
  $btn-muted-background-hover: transparent !default;
  $btn-muted-color: color.adjust($btn-muted-accent, $darkness  50%) !default;
  $btn-muted-color-hover: color.adjust($btn-muted-accent, $darkness 50%) !default;

/** Default color map
  * ------------------------------------------------------------------------ */
  $colors: () !default;
  $colors: map.deep-merge(
    (
      base: (
        primary: $color-gray-darker,
        secondary: $color-gray-lighter,
        background: $color-background-primary,
        text: $color-font-base,
        heading: $color-font-heading,
        link: $color-link,
        link-hover: $color-link-hover,
        border: $color-gray-light,
      ),
    ),
    $colors
  );
