/* stylelint-disable scss/dollar-variable-empty-line-before */
/* stylelint-disable declaration-bang-space-before */
/* stylelint-disable indentation */
/* stylelint-disable scss/dollar-variable-colon-space-after */

@use "sass:map";
@use "sass:math";

/* TYPOGRAPHY

                 Email: hampus.engblom@gmail.com

---------------------------------------------------------------------------- */

/* size
  -------------------------------------------------------------------------- */
  $font-size-base:                         1rem               !default;
  $font-size-ratio:                        1.333              !default;

  $font-sizes: ()                                             !default;
  $font-sizes: map.merge(
    (
      h1: math.pow($font-size-ratio, 4) * $font-size-base,
      h2: math.pow($font-size-ratio, 3) * $font-size-base,
      h3: math.pow($font-size-ratio, 2) * $font-size-base,
      h4: math.pow($font-size-ratio, 1) * $font-size-base,
      h5: $font-size-base,
      h6: $font-size-base
    ),
    $font-sizes
  );

/* style
  -------------------------------------------------------------------------- */
  $line-height-base:                       1.2                !default;
  $font-style-base:                        normal             !default;
  $font-variant-base:                      normal             !default;
  $font-weight-base:                       normal             !default;
  $line-height-heading:                    1.8                !default;
  $font-weight-heading:                    700                !default;

/* font-style as var,
  -------------------------------------------------------------------------- */
  $sans-serif:
  /* 	OS X (10.11+), iOS (9+)           */ -apple-system,
  /*  BlinkMacSystemFont 	OS X, Chrome  */ "blinkMacSystemFont",
  /*  Windows                           */ "Segoe UI",
  /*  Android 4.0+                      */ "Roboto",
  /*  Linux, KDE                        */ "Oxygen",
  /*  Linux, Ubuntu                     */ "Ubuntu",
  /*  Linux, GNOME                      */ "Cantarell",
  /*  Firefox OS                        */ "Fira Sans",
  /*  Android (until 3.2)               */ "Droid Sans",
  /*  OS X (10.9)                       */ "Helvetica Neue",
  /*  Fallback                          */ sans-serif,
  /*                                    */
  /*  macOS emoji                       */ "Apple Color Emoji",
  /*  Windows emoji                     */ "Segoe UI Emoji",
  /*  Windows emoji                     */ "Segoe UI Symbol",
  /*  Linux emoji                       */ "Noto Color Emoji",
  /*                                    */
  /*                                    */ !default;

  $monospace:
  /*  macOS 10.10+                      */ "Menlo",
  /*  Windows                           */ "Consolas",
  /*  Android 4+                        */ "Roboto Mono",
  /*  Ubuntu 10.10+                     */ "Ubuntu Monospace",
  /*  KDE Plasma 5+                     */ "Noto Mono",
  /*  KDE Plasma 4+                     */ "Oxygen Mono",
  /*  Linux/OpenOffice fallback         */ "Liberation Mono",
  /*  fallback                          */ monospace,
  /*                                    */
  /*  macOS emoji                       */ "Apple Color Emoji",
  /*  Windows emoji                     */ "Segoe UI Emoji",
  /*  Windows emoji                     */ "Segoe UI Symbol",
  /*  Linux emoji                       */ "Noto Color Emoji",
  /*                                    */
  /*                                    */ !default;

  $serif:
  /*                                    */ georgia, times, "Times New Roman",
  /* Fallback                           */ serif,
  /*                                    */
  /*                                    */ !default;

/*
  -------------------------------------------------------------------------- */
  $font-family-base:                       $sans-serif        !default;
  $font-family-heading:                    $font-family-base  !default;
