/** #HERO
  * ---------------------------------------------------------------------------
  ** block component
  * - primary content. headlines, description text, image, cta
  * #hero
  * #hero__img
  * #hero__body
  * #hero__title
  * #hero__desc
  *
  */

/** #hero ------------------------------------------------------------------ */
.c-hero {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  position: relative;

  /** #hero__img ----------------------------------------------------------- */
  &__img {
    display: block;
    width: 100%;

    @media all and (min-width: 1px) {
      margin-bottom: 0;
    }
  }

  /** #hero__body ---------------------------------------------------------- */
  &__body {
    /*
    *
    *
    */
    @media all and (min-width: 1px) {
      margin-bottom: 0;
    }
  }

  /** #hero__title --------------------------------------------------------- */
  &__title {
    /*
    *
    *
    */

    @media all and (min-width: 1px) {
      margin-bottom: 0;
    }
  }

  /** #hero__desc----------------------------------------------------------- */
  &__desc {
    /*
    *
    *
    */

    @media all and (min-width: 1px) {
      margin-bottom: 0;
    }
  }
}
