/** #ICON
  * ---------------------------------------------------------------------------
  **
  * - small image that represents functionality
  * #icon
  *
  */

/** ##icon ----------------------------------------------------------------- */
.c-icon {
  display: inline-block;

  /* Allows sizing by changing the icon’s font-size */
  width: 1em;
  height: 1em;
  fill: currentcolor;
  vertical-align: -0.15em;
}
