/** #BLOCK
  * ---------------------------------------------------------------------------
  ** block
  * - containing title and list
  * #block
  * #block__heading
  * #block__list
  * #block__link
  *
  */

.c-block {
  padding: 1rem;

  &__heading {
    padding: 0.1rem;
  }

  &__list {
    list-style: disc;
  }

  &__link {
    text-decoration: underline;
  }
}
