/** #PRIMARY NAVIGATION
  * ---------------------------------------------------------------------------
  ** ...
  * -  navigation (most likely) in the header
  * #header
  *
  */

.c-primary-nav {
  &__list {
    height: 100%;
    margin-bottom: 0;
    overflow: auto;
  }

  button {
    display: flex;
  }

  &__action {
    display: flex;

    &--w-sub-menu {
      display: block;

      &::after {
        content: "";
        display: block;
      }
    }
  }
}
