/** unclear
  ** in bad shape
  */

/** #TABS
  * ---------------------------------------------------------------------------
  ** list of links
  * - Unordered list of links where the each link targets different information
  * #tabs
  *
  */

.c-tabs {
  margin-bottom: 1rem;

  &__list {
    display: flex;
  }

  &__link {
    display: block;

    &--is-active {
      border: 1px solid lightgrey;
    }
  }

  &__item {
    border-bottom: 0;

    &--is-active {
      border: 1px solid lightgrey;
    }
  }

  &__body {
    padding: 1rem 0;
    border-top: 0;
  }

  &__panel {
    display: none;
    padding: 1rem;

    &--is-active {
      display: block;
    }
  }
}
