@use "../settings" as *;
@use "../core/mixin" as *;

body {
  color: color(text);
  font-size: $font-size-base;
  font-family: $font-family-base;
  line-height: $line-height-base;
}

html,
button,
input,
select,
textarea {
  color: color(text);
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

.br {
  display: block;
}

h1,
.h1 { font-size: font-size(h1); }

h2,
.h2 { font-size: font-size(h2); }

h3,
.h3 { font-size: font-size(h3); }

h4,
.h4 { font-size: font-size(h4); }

h5,
.h5 { font-size: font-size(h5); }

h6,
.h6 { font-size: font-size(h6); }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 1rem 0;
  font-weight: $font-weight-headings;
  font-family: $font-family-headings;
  line-height: $line-height-headings;
  color: color(heading);

  &:not(:first-child) {
    margin: 1.5rem 0;
  }
}

/* Increased margin on additional headings */
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
  margin-top: 2rem;
}

/* Increased margin on small devices, additional headings */
@include mq--sm {
  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child) {
    margin-top: 2.5rem;
  }
}

p {
  margin: 0 0 1em;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

blockquote {
  margin: 0 0 1rem;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0; // 1
}

ul {
  margin: 0;
  padding-left: 0;
}

/* Remove extra margin for nested lists */
ul li ul {
  margin-bottom: 0;
}

ol li ol {
  margin-bottom: 0;
}
