/** #LOGO
  * ---------------------------------------------------------------------------
  ** block component
  * - Branding image or text of the site
  * #logo
  * #logo__text
  * #logo__icon
  */

/** #logo ------------------------------------------------------------------ */
.c-logo {
  /*
  *
  *
  */

  /** #logo__text ---------------------------------------------------------- */
  &__text {
    display: block;
  }

  /** #logo__icon ---------------------------------------------------------- */
  &__icon {
    display: block;
    height: auto;
  }
}
