/** #SECTION
  * ---------------------------------------------------------------------------
  ** section block component
  * - block that helps chunk related items together
  * #section
  *
  */

/** #section --------------------------------------------------------------- */
.c-section {
  margin-bottom: 0;
}

/** #SECTION HEADER
  * ---------------------------------------------------------------------------
  ** block component
  * - title and description to distinguish section
  * #section-header
  * #section-header__title
  * #section-header__desc
  *
  */

/** #section-header -------------------------------------------------------- */
.c-section-header {
  /*
  *
  *
  */

  /** #section-header__title ----------------------------------------------- */
  &__title {
    margin-bottom: 0;

    /*
    *
    *
    */
  }

  /** #section-header__desc ------------------------------------------------ */
  &__desc {
    margin-bottom: 0;

    /*
    *
    *
    */
  }
}
