/** #TILE
  * ---------------------------------------------------------------------------
  ** block component
  * - stylized content containing a key and a value
  * - the root of a tile is typically <a> ta
  * #tile
  * #tile__headline
  *
  */

/** #tile__headline  ------------------------------------------------------- */
.c-tile {
  display: block;
  align-items: center;

  /** #tile__headline  ----------------------------------------------------- */
  &__headline {
    display: block;
  }
}
