<!-- header -->

<header class="c-header">

  <div class="c-header-base">
    <a class="c-logo" href="#" aria-label="go to startpage">
      <svg viewbox="0 0 200 50">
        <path class="c-logo__text"

        <path class="c-logo__icon" />
      </svg>
    </a>
    <button class="c-header-base__nav-btn --active"
            href="#"
            role="button"
            title="Open menu"
            aria-label="Open menu"
            aria-expanded="false">

      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div class="c-header-menu">
    <div class="c-header-menu__content"></div>
    <div class="c-header-menu__footer"></div>
  </div>

</header><!-- end header -->

