<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>meta</title>

  <meta name="description" content="Discription is present">

  <link href="css/style.min.css" rel="stylesheet" media="screen">

  <link rel="icon" href="../src/img/favicon/favicon.svg">
  <!-- <meta property="og:image" content="img/dist/preview.jpg"> -->

  <script src="js/main.min.js" defer></script>

  <style>
    body {
      margin: 0;
      background-color: rgba(255, 255, 255, 1);
      min-height: 100vh;
    }
    svg {
      display: block;
      vertical-align: middle;
      width: 100%
    }
  </style>
</head>
